.PanelBackground {
    color: black;
    background-color: #ffffff;
    /* background-color: #0d171d; */
    /* border: 1px solid #2e3c44; */
    padding: 10px;
    height: 100%;   
    width: 1473px;
}