#header {
  background-color: #202C33;
  top: 0;
  padding: 15px;
}

#header .opcoes-botao {
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Ccircle cx="12" cy="12" r="1" /%3E%3Ccircle cx="12" cy="5" r="1" /%3E%3Ccircle cx="12" cy="19" r="1" /%3E%3C/svg%3E');
}