.search-icon {
    width: 24px;
    height: 24px;
    background-color: #aebac2; 
    mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Ccircle cx="11" cy="11" r="8" /%3E%3Cline x1="21" y1="21" x2="16.65" y2="16.65" /%3E%3C/svg%3E') no-repeat center / contain;
    margin: 10px;
}

#search {
    border-bottom: 1px solid #202C33;  
}

#search section {
    display: flex;
    align-items: center;
    background-color: #26323a;
    padding: 0px 20px;
    border-radius: 8px;
    margin: 15px;
}

#search section input {
    width: 100%;
    background-color: transparent;
    padding: 10px;
    border-color: transparent;
    font-size: 14px;
    color: white;
}

#search section input::placeholder {
    color: #8696a0;
}

#search section input:focus {
    outline: none;
}

